# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

*.vue.js.map
*.vue.d.ts
*.vue.js
src/main.d.ts
src/main.js
src/main.js.map
src/utils/utils.d.ts
src/utils/utils.js
*.zip
.yarn
.yarn/**
/.air/
**/worktree.json